body{background-color: blueviolet;}
h1{background-color: antiquewhite;}
h1{color:blue;}
#p1{background-color: brown;}
#p1{color: rgb(235, 150, 38);}
h2{background-color: darkcyan;}
h2{color: blanchedalmond;}
#p2{background-color: chocolate;}
#p2{color: rgb(153, 198, 237);}
ol{background-color: blue;}
#li1{color: blueviolet;}
#li2{color: tomato;}
#li3{color: pink;}
#li4{color: peru;}
#li5{color: powderblue;}
